<div>	 
  <style>
	.nowrap_overflow_hidden_ellipsis{
		white-space: nowrap;
        overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.table_layout_fixed{
		table-layout:fixed;
	}
	
	.table_layout_auto{
		table-layout:auto;
	}
	.wrapper-table-edu-grid .glyphicon.glyphicon-triangle-bottom {
		font-size: 8px;
    }
	.wrapper-table-edu-grid .glyphicon.glyphicon-triangle-top {
		font-size: 8px;
    }
	
	.wrapper-table-edu-grid .glyphicon.glyphicon-chevron-left {
		font-size: 8px;
    }
	.wrapper-table-edu-grid .glyphicon.glyphicon-chevron-right {
		font-size: 8px;
    }
	.wrapper-table-edu-grid .glyphicon.glyphicon-sort-by-alphabet {
		font-size: 12px;
    }
	.wrapper-table-edu-grid .glyphicon.glyphicon-sort-by-alphabet-alt {
		font-size: 12px;
    }
	
	.scrollArea table th .box {
		padding: 0 0px;
		padding-right: 0px;
		border-left: 1px solid #ddd;
		
    }
	
	
  </style>
  
  
	<div class="box-edu-grid">
		<div class="panel panel-{{options.metaData.panelType}}">
					   <div class="panel-heading" ng-show="showHeadingBar" >
						   <div class="row" >
							
							  <div class="col-md-1 col-sm-1">
									<a href="" class="btn btn-primary btn-xs" ng-show="options.showExtraButtonTopLeft" ng-click="clickExtraButton()"><span class="glyphicon glyphicon-{{options.iconExtraButtonTopLeft || 'plus-sign'}}"></span> {{options.snippets.extraButtonTop || 'Nuevo'}}</a>
							   </div>
							   <div class="col-md-2 col-sm-2"><strong>{{options.heading}}</strong></div>
							   <div class="col-md-2 col-sm-2">
								<span ng-show="options.showMetaData">{{options.snippets.showingItems || 'Filas'}} {{options.metaData.offset+1}} - {{(options.metaData.offset+options.metaData.limit > options.metaData.total) ? (options.metaData.total) : (options.metaData.offset + options.metaData.limit)}} {{options.snippets.of || 'de'}} {{options.metaData.total}}</span>	
							   </div>
							   
							    <!-- global search -->
							    <div class="col-md-3 col-sm-2" >
								   <div ng-show="options.showSearch && options.showTopSearch">
									   <label for="ag_search">{{options.snippets.search || 'Buscar:'}}</label>
									   <input type="text" class="form-inline" ng-model="searchQuery" ng-change="onChangeSearchQuery()"/>
									   <!--<a  class="glyphicon glyphicon-search btn-xs"></a>-->
								   </div>
							    </div>
								
							     <!-- avanced search  -->
							    <div class="col-md-2 col-sm-2" >
								  
								   <div ng-show="options.showAvancedSearch && options.showTopAdvancedSearch && !options.showAdvancedSearchInHeader" >
									   <a class="btn  btn-sm" ng-class="{'btn-primary':!listFiltered,'btn-danger':listFiltered}"  ng-click="onClickAvancedSearch()"><i class="glyphicon glyphicon-search"></i> {{options.snippets.avancedSearch || ' Avanzada'}}  </a>
								   </div>
							   </div>
							   <div class="col-md-2 col-sm-2">
								   <span class="btn  btn-xs" ng-show="options.showRefreshButton" ng-click="refresh(true)"><i class="glyphicon glyphicon-refresh"></i></span>
								   <a href="" title="{{options.snippets.titleExtraButtonTopRight}}" class="btn btn-primary  btn-xs" ng-show="options.showExtraButtonTopRight" ng-click="clickExtraButtonRight()"><span class="glyphicon glyphicon-{{options.iconExtraButtonTopRight || 'plus-sign'}}"></span> {{options.snippets.extraButtonTopRight}}</a>
							   </div>
						   </div>
						   
						   <div ng-if="options.showAdvancedSearchInHeader" class="row">
							
								<fieldset class="avancedSearch">
									<legend class="avancedSearch">  
										<i class="fa fa-search"></i>
										<span style="font-size:1.2em;font-weight:normal">{{options.snippets.formAvancedSearchTitle}}</span>
									</legend>
									 <div class="control-group">
										<div class="" ng-repeat="field in options.formAvancedSearch.fields">
											<div edu-field options="field" value="options.formAvancedSearchResult[field.key]"> </div>
										</div>
									
									</div>
								</fieldset>	
						   </div>
						   <div ng-if="options.showAdvancedSearchInHeader" class="row">
								<div class="col-md-offset-9 col-md-3  col-sm-offset-9 col-sm-3">  
									<button ng-click="formAvancedSearchEventsContinue()"  ng-disabled="formAvancedSearch.$invalid"  class="btn btn-sm btn-primary" >{{options.snippets.formAvancedSearchButtonContinue || 'Buscar'}}</button> 
									<!--<button ng-click="formAvancedSearchEventsCancel()" class="btn btn-sm">{{options.snippets.formAvancedSearchButtonCancel || 'Cancelar'}}</button> -->
									<button ng-click="formAvancedSearchEventsClean()" class="btn btn-sm">{{options.snippets.formAvancedSearchButtonClean || 'Limpiar'}}</button>
								</div> 
							</div>
						   
					    </div>
					    <div class="panel-body" >
					   
					    <!-- grid --> 
						<div  style="overflow-x:scroll;" id="{{idGrid}}-table-edu-grid" class="wrapper-table-edu-grid"> 
						
						<scrollable-table watch="list">
						   <table id="table-grid" class="table table-condensed table-hover table-striped"   ng-class="{'table-bordered':options.tableBordered,'table_layout_fixed':options.table_layout_fixed, 'table_layout_auto':!options.table_layout_fixed}" >
							   <thead>
								   <tr> 
									   <!-- space row number-->	
									   <th ng-if="options.showRowNumber" width="5" title="&nbsp" class="preFixedColumn">
									   
									   </th>
									   
									   <!-- space buttons user pre-->	
									   <th ng-if="options.showButtonsGridUserPre" ng-repeat="button in options.buttonsUserPre"  width="5"  title="&nbsp" class="preFixedColumn">
									   
									   </th>
									   
									   <!-- check select all -->    
									   <th ng-if="options.showSelectRow"  width="5" title="&nbsp" class="preFixedColumn">
										   <!--
											<label for="selectAll"  style="align:left">
														{{options.snippets.selectAll || 'Todos'}} 
											</label>
											<input type="checkbox" name="selectAll" ng-change="changeSelectAllRows(valueCheckSelectAll)" ng-model="valueCheckSelectAll"  />    
										  --> 
									   </th>
									   <th ng-repeat="field in options.listFields" class="noFixedColumn droptarget " width="{{field.weight}}%" title="&nbsp" style="text-align: center" id="{{$index}}">
									         
										<!--div class="box" -->	   
										 <div class="col-resizable">
										    <table  width="100%">  <!-- style="border: 2px solid red;" -->
											 <tr>
                                              <td>											 
												<table width="100%" border="0"   class="dragtarget" id="{{$index}}" draggable="true"> <!-- style="table-layout: fixed;"-->
													<tr>
														
														<td width="13px">
														   <span class="header-column" title="Mover columna a la izquierda">
															   <a ng-click="changeColumnOrder($index-1, $index)"><i class="glyphicon glyphicon-chevron-left"></i></a>
														   </span>
														</td>
														
														<td ng-if="field.notOrder==true">
															<span class="header-column" >
															   <a>&nbsp{{field.label}}</a>
														   </span>
														</td>
														
														<td  ng-if="!field.notOrder"  style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis; ">
															<span  ng-click="changeOrder(field, field.orderByValue, 'desc')" ng-show="field.order=='asc'" class="header-column"  title="Ordenar por {{field.label}}">
															   <i class="glyphicon glyphicon-sort-by-alphabet"></i>
															   <a>&nbsp{{field.label}}</a>
														   </span>
														   <span  ng-click="changeOrder(field, field.orderByValue, 'asc')" ng-show="field.order=='desc'" class="header-column" title="Ordenar por {{field.label}}">
															   <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
															   <a>&nbsp{{field.label}}</a>
														   </span>
														   <span ng-click="changeOrder(field, field.orderByValue, 'desc')" ng-hide="field.order.length>0" class="header-column" title="Ordenar por {{field.label}}">
															   <a>&nbsp{{field.label}}</a>
														   </span>
														</td>
														<td  width="15px">
														   <span class="header-column" title="Mover columna a la derecha">
															   <a ng-click="changeColumnOrder($index+1, $index)"><i class="glyphicon glyphicon-chevron-right"></i></a>
														   </span>
														</td>
														
													</tr>
												</table>
											  </td>
											  <td width="0px">
												<table>
													<tr>
														<td class="resizable" id="{{$index}}" style="height:30px;border: 0px solid #ddd;cursor: col-resize;background-color:#ddd">
															
														</td>
													</tr>
												</table>
											  </td>
											 </tr>	
											</table>
										</div>
											   
									   </th>
									   
									   <!-- space buttons user post-->
									   <th ng-if="options.showButtonsGridUserPost" ng-repeat="button in options.buttonsUserPost"  width="5">
									   
									   </th>
								   </tr>
							   </thead>
							
							   <tbody>
								   <tr ng-show="list.length < 1">
									   <td colspan="{{options.listFields.length+options.buttons.length}}">
										   <span class="glyphicon glyphicon-info-sign"></span> <span>{{options.snippets.emptyGridText || 'No hay datos'}}</span>
									   </td>
								   </tr>
								 
								   <tr ng-repeat="entry in list" ng-click="onRowClick(entry)"  >
									   <!-- row number  ng-style="styleLeft"-->
									   <td ng-if="options.showRowNumber"    class="preFixedColumn">
											<button ng-show="entry.clicked" type="button" class="btn btn-success btn-xs">{{options.metaData.offset+1+$index}}</button>
											<button ng-show="!entry.clicked" type="button" class="btn btn-primary btn-xs">{{options.metaData.offset+1+$index}}</button>
									   </td>
									   
									   <!-- buttons pre user -->    
									   <td ng-if="options.showButtonsGridUserPre" ng-repeat="button in options.buttonsUserPre"  class="preFixedColumn">
											
										   <div ng-if="!button.button"  ng-show="!button.hidden(entry)">
											   <div ng-if="button.glyphicon.length>0"  >
												   <a class="btn btn-xs" ng-click="handleButtonClick(button.onclick, entry)"  ng-disabled="button.disabled(entry)">
													   <i class="glyphicon glyphicon-{{button.glyphicon}}" title="{{button.label}}"></i>
												   </a>
											   </div>
											   <div ng-if="button.iconPath.length>0">
												   <img ng-src="button.iconPath" alt="{{button.label}}"/>
											   </div>
										   </div>
										   <button ng-if="button.button" ng-show="!button.hidden(entry)" ng-click="handleButtonClick(button.onclick, entry)"  ng-disabled="button.disabled(entry)">
											   <i ng-if="button.glyphicon.length>0" class="glyphicon glyphicon-{{button.glyphicon}}" title="{{button.label}}"></i>
											   <img ng-if="button.iconPath.length>0" ng-src="button.iconPath" alt="{{button.label}}"/>{{button.label}}
										   </button>
									   </td>
									   <!-- select column -->    
									   <td ng-if="options.showSelectRow" class="preFixedColumn" >
										   
										   <input type="checkbox" ng-click="checkSelectRow(entry)" ng-model="entry.selected" />
											   
									   </td>
									   <!-- fields -->
									   <td ng-repeat="field in options.listFields" ng-click="onRowClick()" ng-class="{'nowrap_overflow_hidden_ellipsis':options.overflow_hidden}">
										   <div ng-if="field.type!='currency' && field.type!='number' && field.type!='date' && field.type!='date-time'  && field.type!='checkbox' && field.type!='input-text' && field.type!='input-date' && field.type!='input-select' && field.type!='input-radio'">
										   {{field.renderer(entry[field.column], entry, field.column,field.type)}}
										   </div>
										   <div ng-if="field.type=='number'"  class="pull-right">
										  {{field.renderer(entry[field.column], entry, field.column,field.type)}}
										   </div>
										   <div ng-if="field.type=='date'">
										   {{entry[field.column] | date:field.format ||'dd/MM/yyyy'}}
										   </div>
										   <div ng-if="field.type=='currency'">
										   {{entry[field.column]  | toEuros}}
										   </div>
										   <div ng-if="field.type=='checkbox'">
												<input type="checkbox" ng-model="entry[field.column]" ng-false-value="'N'" ng-true-value="'S'" onclick="javascript: return false;" >
										   </div>
										   <div ng-if="field.type=='input-text'">
												<input type="text" ng-model="entry[field.column]">
										   </div>
										   <div ng-if="field.type=='input-date'">
												<input type="date"  ng-model="entry[field.column]">
										   </div>
										   <div ng-if="field.type=='input-select'">
												<select> <option>1</option><option>2</option></select>
										   </div>
									   </td>
									   
									   <!-- button user post -->
									   <td ng-if="options.showButtonsGridUserPost" ng-repeat="button in options.buttonsUserPost">
										   <div ng-if="!button.button">
											   <div ng-if="button.glyphicon.length>0">
												   <a class="btn btn-xs"  ng-click="handleButtonClick(button.onclick, entry)" ng-disabled="button.disabled(entry)">
													   <i class="glyphicon glyphicon-{{button.glyphicon}}" title="{{button.label}}"></i>
												   </a>
											   </div>
											   <div ng-if="button.iconPath.length>0">
												   <img ng-src="button.iconPath" alt="{{button.label}}"/>
											   </div>
										   </div>
										   <button ng-if="button.button" ng-click="handleButtonClick(button.onclick, entry)"  ng-disabled="button.disabled(entry)">
											   <i ng-if="button.glyphicon.length>0" class="glyphicon glyphicon-{{button.glyphicon}}"
											   title="{{button.label}}"></i>
											   <img ng-if="button.iconPath.length>0" ng-src="button.iconPath" alt="{{button.label}}"/>{{button.label}}
										   </button>
									   </td>
								   </tr>
							   </tbody>
							 </table>
						  </scrollable-table>
						</div>
						<!---->
					   </div>
					   <div class="panel-footer" ng-show="showFooterBar">
						   <div class="row">
							   <div class="col-md-4">
								   <ul ng-show="options.showPagination" class="pagination pagination col" style="margin: 0px 0px; font-weight: bold;">
									   <li ng-class="{'disabled':isOnFirstPage()}">
										   <a ng-show="isOnFirstPage()" class="glyphicon glyphicon-step-backward btn-xs"> </a>
										   <a ng-show="!isOnFirstPage()" class="glyphicon glyphicon-step-backward  btn-xs" ng-click="setFirstPage()"> </a>
									   </li>
									   <li ng-class="{'disabled':isOnFirstPage()}">
										   <a ng-show="isOnFirstPage()" class="glyphicon glyphicon-fast-backward btn-xs"> </a>
										   <a ng-show="!isOnFirstPage()"class="glyphicon glyphicon-backward btn-xs" ng-click="setPreviousPage()"> </a>
									   </li>
									   
									   <li data-ng-repeat="page in pages"  ng-class="{'disabled':currentPage.label == page.label}" >
										   
										   <a ng-show="currentPage.label != page.label" ng-click="setPage(page)" class="btn-xs" >{{page.label}}</a>
										   <a ng-show="currentPage.label == page.label"  class="btn-xs" >{{page.label}}</a>
									   </li>
									   
									   <li ng-class="{'disabled':isOnLastPage()}">
										   <a ng-show="isOnLastPage()" class="glyphicon glyphicon-fast-forward btn-xs"> </a>
										   <a ng-show="!isOnLastPage()" class="glyphicon glyphicon-forward btn-xs" ng-click="setNextPage()"> </a>
									   </li>
									   <li ng-class="{'disabled':isOnLastPage()}">
										   <a ng-show="isOnLastPage()" class="glyphicon glyphicon-step-forward btn-xs"> </a>
										   <a ng-show="!isOnLastPage()" class="glyphicon glyphicon-step-forward btn-xs" ng-click="setLastPage()"> </a>
									   </li>
								   </ul>
							   </div>
							   <div class="col-md-3">
								   <div ng-show="options.showItemsPerPage">
									   <label for="ag_itemsperpage">{{options.snippets.itemsPerPage || 'Items por p&aacute;gina:'}}</label>
									   <input id="ag_itemsperpage" class="form-inline" type="number" ng-model="options.metaData.limit" ng-change="onChangeItemsPerPage()" style="width: 50px;"/>
									   <a class="glyphicon glyphicon-list-alt  btn-xs"></a>
								   </div>
							   </div>
							   <div class="col-md-3" ng-show="options.showSearch && options.showBottomSearch">
								   <div >
									   <label for="ag_search">{{options.snippets.search || 'Buscar:'}}</label>
									   <input type="text" class="form-inline" ng-model="searchQuery" ng-change="onChangeSearchQuery()"/>
									   <!--<a  class="glyphicon glyphicon-search btn-xs"></a>-->
								   </div>
							   </div>
							   <div class="col-md-2" ng-show="options.showAvancedSearch && options.showBottomAdvancedSearch && !options.showAdvancedSearchInHeader">
								   <!-- avanced search  -->
								   <div >
									   <a class="glyphicon glyphicon-search btn btn-primary btn-sm" ng-class="{'btn-primary':!listFiltered,'btn-danger':listFiltered}"   ng-click="onClickAvancedSearch()"> {{options.snippets.avancedSearch || ' Avanzada'}}  </a>
								   </div>
							   </div>
							  
						   </div>
					   </div>
			</div>
			
			<!-- overlay-edu-grid loading -->
		    <div ng-show="options.showOverlayLoadingGrid" class="overlay-edu-grid">
				 <div class="spin centrado-edu-grid"> </div>
		    </div>
			
			<!-- overlay-edu-grid form avanced search -->
			 <div class="overlay-edu-grid"  ng-if="showOverlayFormAvancedSearch" >
				<div class="panel panel-default centrado-edu-grid" style="width:{{options.formAvancedSearch.width||500}}px">
					<div class="panel-heading" >
						<h4 >{{options.snippets.formAvancedSearchTitle || "B&uacute;squeda Avanzada"}}</h4>									
					</div>
					<div class="panel-body" >
						<form name="formAvancedSearchFieldsFormG" novalidate>
							<h4>{{options.snippets.formAvancedSearchMessage}}</h4>
								<div class="" ng-repeat="field in options.formAvancedSearch.fields">
									<!--<div class="form-group  {{field.col}}" >
										<label for="{{field.key}}" class="ng-binding" style="align:left">
												{{field.label}} {{field.required ? '*' : ''}} 
										</label>
										<input type="{{field.type}}" class="form-control" id="{{field.key}}" name="{{field.key}}" ng-model="options.formAvancedSearchResult[field.key]" placeholder="{{field.placeholder}}"  ng-required="field.required" ng-disabled="field.disabled">	   
									</div>-->
									<div edu-field options="field" value="options.formAvancedSearchResult[field.key]"> </div>
								</div>
						   <div><h5>{{options.snippets.formAvancedSearchNota}}</h5></div>	
						</form>
					</div>
					<div class="panel-footer" >
					   <div class="row">
							<div class="col-md-offset-3 col-md-9">  
								<button ng-click="formAvancedSearchEventsContinue()"  ng-disabled="formAvancedSearch.$invalid"  class="btn btn-sm btn-primary" >{{options.snippets.formAvancedSearchButtonContinue || 'Aceptar'}}</button> 
								<button ng-click="formAvancedSearchEventsCancel()" class="btn btn-sm">{{options.snippets.formAvancedSearchButtonCancel || 'Cancelar'}}</button> 
								<button ng-click="formAvancedSearchEventsClean()" class="btn btn-sm">{{options.snippets.formAvancedSearchButtonClean || 'Limpiar'}}</button>
							</div> 
						</div>
					</div>
				</div>
			</div>
			
			<!-- overlay-edu-grid form user -->
			 <div class="overlay-edu-grid" ng-show="options.showOverlayFormUser" >
				<div class="panel panel-default centrado-edu-grid" style="width:{{options.formUser.width}}">
					<div class="panel-heading" >
						<h4>{{options.snippets.formUserTitle}}</h4>	
					</div>
					<div class="panel-body " >
						<form name="formUser" novalidate >
							<h4>{{options.snippets.formUserMessage}}</h4>								
							<div class="form-group  {{field.col}}" ng-repeat="field in options.formUser.fields">
								<label for="{{field.key}}" class="ng-binding" style="align:left">
									{{field.label}} {{field.required ? '*' : ''}} 
								</label>
								<input type="text" class="form-control" id="{{field.key}}" name="{{field.key}}"ng-model="options.formUser.result[field.key]" placeholder="{{field.placeholder}}"  ng-required="field.required" ng-disabled="field.disabled">	   
							</div>
							<div><h5>{{options.snippets.formUserNota}}</h5></div>
						</form>
					</div>
					<div class="panel-footer" >
					   <div class="row">
							<div class="col-md-offset-3 col-md-9">  
								<button ng-click="formUserOnContinue(options.formUser.result)" ng-disabled="formUser.$invalid"  class="btn btn-sm btn-primary" >{{options.snippets.formUserButtonContinue || 'Aceptar'}}</button> 
								<button ng-click="formUserOnCancel()" class="btn btn-sm">{{options.snippets.formUserButtonCancel || 'Cancelar'}}</button> 
							</div> 
						</div>
					</div>
				</div>
			</div>
			<!-- overlay-edu-grid form success/error -->
			<div class="overlay-edu-grid"  ng-show="options.overlayFormSuccessErrorGrid.show" >
				<div class="panel panel-{{options.overlayFormSuccessErrorGrid.type|| 'info'}} centrado-edu-grid"  style="min-width:{{options.overlayFormSuccessErrorGrid.width||200}}px">
					<div class="panel-heading" >
							<span ng-if="options.overlayFormSuccessErrorGrid.type=='success'" class="glyphicon glyphicon-ok pull-right"></span>
							<span ng-if="options.overlayFormSuccessErrorGrid.type=='danger'" class="glyphicon glyphicon-remove pull-right"></span>
							<br/>
					</div>
					<div class="panel-body" >
						<h4>{{options.overlayFormSuccessErrorGrid.message}}</h4>
						
					</div>
					<div class="panel-footer" >
						<div class="row">
							<div class="col-md-offset-3 col-md-9">  
								<button ng-click="options.overlayFormSuccessErrorGrid.show=false" class="btn btn-sm btn-primary" >{{options.snippets.overlayFormSuccessErrorGrid || 'Aceptar'}}</button> 
							</div> 
						</div>
					</div>
				</div>
			</div>
			
			<!--   -->	
	 </div>
 </div>
